body{
  font-family: 'Pacifico', cursive;
}
h1
{
  text-align: center;
  text-decoration: underline;
  color: blue;
  margin-bottom: 100px;
  display: block;
}
#a{
  transform: rotate(90deg);
  padding: 100px;
}
#b{
  transform: rotate(90deg);
  padding: 100px;
}
#c{
  transform: rotate(90deg);
  padding: 100px;
}
#d{
  transform: rotate(90deg);
  padding: 100px;
}
#e
{
  padding: 100px;
}
#f{
  transform: rotate(90deg);
  padding: 100px;
}
img{
  width: 500px;
  height: 500px;
}
